.board-container {
    padding: 20px;
    margin: 60px;
    display: flex;
    position: center;
    flex-direction: column;
    outline-color: black;
    outline-width: 3px;
}

.row {
    display:flex;
    flex-direction: row;
    align-content: center;
}


.cell {
    background: #ffffff;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: #a6a6a6;
}

.living.cell {
    background: #ff0000;
    width: 15px;
    height: 15px;
}


.start-button {
    color: #ff5353;
}